<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ts.mapper.EmployeeMapper">
    <select id="queryEmpList" resultType="Employee">
        select * from emp;
    </select>






    <insert id="EmpAdd" parameterType="Employee">
        insert into emp (id,name,sex,tel,address) values (#{id},#{name},#{sex},#{tel},#{address})
    </insert>



<!--    <resultMap id="Emp" type="Employee">-->
<!--        <result column="name" property="nana"/>-->
<!--    </resultMap>-->


    <select id="queryById" resultType="Employee">
        select * from emp where id=#{id}
    </select>

    <update id="EmpUpdate" parameterType="Employee">
        update emp set name=#{name},sex=#{sex},tel=#{tel},address=#{address} where id=#{id}
    </update>


    <select id="dddd" parameterType="map" resultType="Employee">
        select * from emp
        <where>
           <choose>
               <when test="name != null">
                   name = #{name}
               </when>
               <when test="tel != null">
                   and tel = #{tel}
               </when>
               <when test="address != null">
                   address = #{address}
               </when>
               <otherwise>
                   sex = #{sex}
               </otherwise>
           </choose>
        </where>
    </select>

    <update id="Empupper" parameterType="map">
        update emp
        <set>
            <if test="name != null">
                name =#{name},
            </if>
            <if test="tel != null">
                tel = #{tel},
            </if>

        </set>
        where id = #{id}
    </update>

</mapper>